@use '../components/LogButton';
@import '../abstracts/variables/color';
@import '../abstracts/variables/font';

.achieveContainer{
    width: 100%;
    height: 33rem;
    padding: 1rem 13rem 0rem 13rem;
    .achieveHead{
        width: 100%;
        height: 20%;
        h1{
            font-size: 2.3rem;
            text-align: center;
            padding-bottom: 1.2rem;
        }
        p{
            font-size: 1.3rem;
            text-align: center;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.697);
        }
    }
    .achieveMain{
        width: 100%;
        height: 62%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0rem;
        gap: 1rem;
        
        div{
            width: 25%;
            height: 18rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 6rem;
            background-color: #fceeda;
            img{
                width: 8rem;
                height: 8rem;
                visibility: hidden;
                display: none;
            }
            h1{
                font-size: 2.7rem;
                font-weight: 900;
                padding-bottom: 1.2rem;
            }
            p{
                font-size: 1.2rem;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.717);
                padding-bottom: 2rem;
            }
            &:nth-child(2){
                background-color: #fee5e5;
            }
            &:nth-child(3){
                background-color: #d6f3fa;
            }
            &:nth-child(4){
                background-color: #e1d8ff;
            }

            &:hover{
                padding-top: 3rem;
                img{
                    visibility: visible;
                    display: inline;
                    animation: achive 0.5s cubic-bezier(0,0,.2,1) forwards ;
                }
                h1{
                    animation: textAni 0.2s ease-in-out forwards ;
                }
                p{
                    animation: textAni 0.2s ease-in-out forwards ;
                }
                @keyframes textAni {
                    from {
                        transform: translateY(0%);
                    }
                    to {
                        transform: translateY(-30%);
                        
                    }
                }
                @keyframes achive {
                    from {
                        transform: scale(0%);
                    }
                    to {
                        transform: scale(100%);
                        
                    }
                }
            }
        }
    }
    .achive-btn{
        width: 100%;
        height: 18%;
        display: flex;
        
        align-items: center;
        justify-content: center;
        
        button{
            padding: 1.3rem 5.3rem;
        }
    }
}