@use '../components/LogButton';
@import '../abstracts/variables/color';
@import '../abstracts/variables/font';

.banner{
    width: 100%;
    height: 41rem;
    position: relative;
    top: 5rem;
    .bannerContent{
        width: 100%;
        height: 85%;
        background: $lbHiglightBlocks;
        display: flex;
        .bannerHedings{
            width: 48%;
            height: 80%;
            padding: 7rem 0rem 0rem 13rem;
            h1{
                font-size: 3rem;
                font-weight: 700;
                width: 100%;
                padding-bottom: 1rem;
                span{
                    color: $blueHighlight;
                    font-weight: 800;
                }
            }
            p{
                font-size: 1.2rem;
                padding-bottom: 2rem;
                width: 95%;
                color: rgba(0, 0, 0, 0.739);
            }
            button{
                padding: 1.3rem 5.3rem;
            }
        }
        .bannerImage{
            width: 70%;
            height: 80%;
            padding-left: 24rem;
            img{   
                height: 100%;

            }
        }
    }
    .bannerDetails{
        width: 75%;
        height: 25;
        background-color: $whiteBackground;
        border-radius: 0.5rem;
        position: absolute;
        top: 75%;
        left: 12.4%;
        box-shadow:  6px -6px 12px #d9d9d999,
             -6px 6px 12px #e7e7e788;
        display: flex;
        div{
            width: 25%;
            height: 100%;
            line-height: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.4rem;
            position: relative;
            &:nth-child(-n+3)::after{
                content: '';
                position: absolute;
                top: 28%;
                right: 0;
                height: 40%;
                width: 2px; 
                background-color: rgba(89, 75, 218, 0.291);
            }
            img{
                width: 4rem;
                height: 4rem;
            }
            h2{
                padding: 2rem 0rem 1.2rem 0rem; 
                font-size: 1.5rem;     
            }
            p{
                font-size: 1.1rem;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.848);
            }
        }
    }
}