@import './abstracts/variables/font';
@import './components/navigation';
@import './components/banner';
@import './components/examCat';
@import './components/explore';
@import './components/achievements';
@import './components/singleExamCard';
@import './components/footer';
@import './components/searchBar';
@import './components/needHelp';
@import './pages/login';
@import './pages/register';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: $font-family;
}

