@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
button {
  background-color: rgb(90, 75, 218);
  padding: 1.2rem 1.9rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(90, 75, 218);
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 58, 197);
}

.navigationBar {
  width: 100%;
  height: 6rem;
  display: flex;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.navigationBar .logo {
  width: 16%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem 0rem;
}
.navigationBar .logo img {
  width: 3.8rem;
  height: 3.8rem;
}
.navigationBar .navBarMenu {
  height: 100%;
  width: 55%;
  display: flex;
  padding-left: 2.4rem;
}
.navigationBar .navBarMenu .navBarMenu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.navigationBar .navBarMenu .navBarMenu-list button {
  background-color: rgb(255, 255, 255);
  padding: 1.1rem 2.9rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(90, 75, 218);
  border: 1px solid rgb(90, 75, 218);
  border-radius: 0.5rem;
  cursor: pointer;
}
.navigationBar .navBarMenu .navBarMenu-list li {
  font-size: 1.1rem;
  font-weight: 800;
}
.navigationBar .navBar-Auth {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: 6.5rem;
}

button {
  background-color: rgb(90, 75, 218);
  padding: 1.2rem 1.9rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(90, 75, 218);
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 58, 197);
}

.banner {
  width: 100%;
  height: 45rem;
  position: relative;
  top: 5rem;
}
.banner .bannerContent {
  width: 100%;
  height: 85%;
  background: rgb(233, 237, 254);
  display: flex;
}
.banner .bannerContent .bannerHedings {
  width: 45%;
  height: 80%;
  padding: 8rem 0rem 0rem 13rem;
}
.banner .bannerContent .bannerHedings h1 {
  font-size: 3rem;
  font-weight: 700;
  width: 95%;
  padding-bottom: 1rem;
}
.banner .bannerContent .bannerHedings h1 span {
  color: rgb(90, 75, 218);
  font-weight: 800;
}
.banner .bannerContent .bannerHedings p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  width: 95%;
  color: rgba(0, 0, 0, 0.739);
}
.banner .bannerContent .bannerHedings button {
  padding: 1.3rem 5.3rem;
}
.banner .bannerContent .bannerImage {
  width: 70%;
  height: 80%;
  padding-left: 24rem;
}
.banner .bannerContent .bannerImage img {
  height: 100%;
}
.banner .bannerDetails {
  width: 75%;
  height: 12rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  position: absolute;
  top: 70%;
  left: 12.4%;
  box-shadow: 6px -6px 12px rgba(217, 217, 217, 0.6), -6px 6px 12px rgba(231, 231, 231, 0.5333333333);
  display: flex;
}
.banner .bannerDetails div {
  width: 25%;
  height: 100%;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem;
  position: relative;
}
.banner .bannerDetails div::after {
  content: "";
  position: absolute;
  top: 28%;
  right: 0;
  height: 40%;
  width: 2px;
  background-color: rgba(89, 75, 218, 0.434);
}
.banner .bannerDetails div img {
  width: 4rem;
  height: 4rem;
}
.banner .bannerDetails div h2 {
  padding: 2rem 0rem 1.2rem 0rem;
  font-size: 1.5rem;
}
.banner .bannerDetails div p {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.848);
}

button {
  background-color: rgb(90, 75, 218);
  padding: 1.2rem 1.9rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(90, 75, 218);
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 58, 197);
}

.examCategories {
  width: 100%;
  height: 40rem;
  border: 1px solid red;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Questrial", sans-serif;
}/*# sourceMappingURL=main.css.map */